// media
$xl: '1919px';
$lz: '1439px';
$lg: '1199px';
$md: '1023px';
$xs: '767px';

// colors
$white: #ffffff;
$black: #2A271D;
$bg-light: #FCFCFD;
$txt-first: #3B3B3B;
$border: #EEEEEE;
$bg-second: #F7F7FB;
$border-primary: #F7F7F8;
$border-second: #E6E6E6;
$border-third: #A3A3A3;
$disabled: #F1F1F3;
$btn-active: #E0E0E0;
$text-inactive: #B3B3B3;
$text-second: #6E6E6E;
$bg: #FEF3EC;
$hover: #F26D17;
$main: #E6620D;
$active: #C1520B;
$success-bg: #F3FAF7;
$success-bdr: #BAE0CD;
$success: #189958;
$warning-bg: #FFF9F2;
$warning-bdr: #FEDCB3;
$warning: #E88003;
$error-bg: #FDF5F4;
$error-bdr: #F5C6C0;
$error: #DE402C;
$opacity: 'rgba(252; 252; 253; 0.01)';
$gradient: 'linear-gradient(161deg, #EC8C0A 0%, #E6620D 100%)';
$transparent: transparent;
$gray: #9AA0AD;
$gray-light: #C0C0C0;
$border: #F1F1F1;
$pink: #EAC3A9;
$btn-bg-gray-second: #F8F8F9;