// media
$xl: '1919px';
$lz: '1439px';
$lg: '1199px';
$md: '1023px';
$xs: '767px';

// colors
$white: #ffffff;
$black: #2a271d;
$bg-light: #fcfcfd;
$txt-first: #3b3b3b;
$border: #eeeeee;
$bg-second: #f7f7fb;
$border-primary: #f7f7f8;
$border-second: #e6e6e6;
$border-third: #a3a3a3;
$disabled: #f1f1f3;
$btn-active: #e0e0e0;
$text-inactive: #b3b3b3;
$text-second: #6e6e6e;
$bg: #fef3ec;
$hover: #f26d17;
$main: #e6620d;
$active: #c1520b;
$success-bg: #f3faf7;
$success-bdr: #bae0cd;
$success: #189958;
$warning-bg: #fff9f2;
$warning-bdr: #fedcb3;
$warning: #e88003;
$error-bg: #fdf5f4;
$error-bdr: #f5c6c0;
$error: #de402c;
$opacity: 'rgba(252; 252; 253; 0.01)';
$gradient: 'linear-gradient(161deg, #EC8C0A 0%, #E6620D 100%)';
$transparent: transparent;
$gray: #9aa0ad;
$gray-light: #c0c0c0;
$border: #f1f1f1;
$pink: #eac3a9;
$btn-bg-gray-second: #f8f8f9;
